@font-face {
    font-family: oswald;
    src: url(./Oswald-Regular.ttf);
}

@font-face {
    font-family: oswlig;
    src: url(./Oswald-Light.ttf);
}

@font-face {
    font-family: oswaextralig;
    src: url(./Oswald-ExtraLight.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: oswald;
}

body{
    background-color: #F1F1F1;
}

nav{
    height: 2.5vw;
    background-color: #000;
    display: flex;
    justify-content: space-between;
}

nav #social i{
    font-size: 15px;
    padding: 0.76vw;
    margin-right: 3px;
    color: #fff;
}

nav #social i:hover{
    background-color: #cccccc;
    color: #000;
}

nav #search i{
    font-size: 15px;
    padding: 0.76vw;
    margin-right: 0px;
    color: #fff;
}

nav #search i:hover{
    background-color: #cccccc;
    color: #000;
}

#header{
    height: 14.5vw;
    width: 100%;
    background-color: #fff;
}

#header h1{
    text-align: center;
    padding-top: 7vh;
    font-size: 50px;
    padding-bottom: 1.5vh;
}
#header h3{
    text-align: center;
    font-weight: 100;
    font-size: 16.5px;
}
#header h3 span{
    padding: 1px 8px;
    background-color: #000;
    color: #fff;
}

#img img{
    width: 100%;
}

#img h3{
    font-family: oswlig;
    position: absolute;
    top: 89.5vh;
    left: 24px;
    font-size: 35px;
    letter-spacing: 5px;
    color: #fff;
}

#img h1{
    position: absolute;
    font-size: 70px;
    color: #fff;
    top: 98vh;
    letter-spacing: 2px;
    left: 24px;
}

#img .button{
    margin: auto;
    position: absolute;
    background-color: #ccccccb4;
    height: 7vh;
    left: 24px;
    top: 113vh;
    width: 17vh;
    user-select: none;
}

#img .button:hover{
    background-color: #cccccc;
}

#img .button h2{
    font-size: 17px;
    padding-top: 11px;
    letter-spacing: 1px;
    font-family: oswaextralig;
    margin: auto;
    text-align: center;
}

#content{
    /* background-color: #F1F1F1; */
    display: flex;
    width: 100%;
    height: 584.3vh;
}

#content #main-left{
    height: 200vh;
    width: 63.4%;
    margin: 2vw;
    /* background-color: #fff; */
}

#content #main-right{
    margin-top: 2vw;
    width: 30.5%;
    height: 100vh;
    background-color: #f1f1f1;
    margin-right: 17px;
}

#main-left h1{
    text-align: center;
    padding-top: 1.5vw;
    padding-bottom: 1.5vh;
    font-weight: 100;
    font-size: 25px;
}

#main-left h2{
    text-align: center;
    font-weight: 100;
    font-size: 18px;
    padding-bottom: 3.8vh;
}

#main-left .cont1{
    height: auto;
    margin: auto;
    align-items: center;
    background-color: #fff;
    padding-bottom: 1.6vw;
    margin-bottom: 40px;
}

#main-left .cont1 h2 span{
    color: #919191;
}

#main-left img{
    padding-left: 1.6vw;
    width: 95%;
    margin: auto;
}

#main-left .cont1 p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    padding-left: 1.6vw;
    padding-right: 1.6vw;
    padding-top: 2vw;
    word-spacing: 1px;
    line-height: 22px;
    width: 95%;
    padding-bottom: 4vh;
}

#main-left .cont1 p span{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    /* word-spacing: 2px; */
    /* letter-spacing: 1px; */
}

#main-left .cont1 .btn{
    display: flex;
    justify-content: space-between;
    padding-bottom: 7.5vh;
    /* border-bottom: 1px solid #cccccc;
    border-bottom-width: thin; */
}

#main-left .cont1 .btn .like{
    padding-top: 2vh;
    height: 22px;
    width: 45px;
    display: flex;
    align-items: center;
    padding: 8px 16px;
    margin-left: 1.6vw;
    border: 1px solid #c9a2a2ac;
}

#main-left .cont1 .btn .like:hover{
    background-color: #cccccc;
    border: 1px solid #cccccc;
}

#main-left .cont1 .btn .like h4{
    padding-left: 4px;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
}

#main-left .cont1 .btn .replies{
    display: flex;
    padding-top: 9px;
    background-color: #000;
    color: #fff;
    /* font-family: 'Open Sans', sans-serif; */
    font-weight: lighter;
    letter-spacing: 1px;
    margin-right: 1.6vw;
    justify-content: space-around;
    height: 32px;
    width: 120px;
    /* border: 1px solid; */
}

#main-left .cont1 .btn .replies:hover{
    background-color: #cccccc;
    color: #000;
    border: none;
}

#main-left .cont1 .btn .replies h4{
    font-family: 'Open Sans', sans-serif;   
    font-size: 15px;
    /* margin-left: 8px; */
    padding-left: 8px;
    padding-top: 4px;
}

#main-left .cont1 .btn .replies .num{
    background-color: #fff;
    font-size: 14px;
    display: flex;
    /* padding-right: 5px; */
    margin-right: 8px;
    justify-content: center;
    width: 25px;
    height: 25px;
    color: #000;
}

#main-left .cont1 hr{
    width: 95%;
    margin-left: 21px;
    color: #cccccc64;
}

#main-left .cont1 .reply{
    padding-top: 20px;
    /* width: 50px; */
    display: flex;
    margin-bottom: 10px;
}

#main-left .cont1 .reply img{
    height: 100px;
    width: 90px;
    margin-left: 1.6vw;
    padding-left: 0;
    margin-right: 65px;
}

#main-left .cont1 .reply .comment .num1{
    display: flex;
    /* justify-content: space-between; */
    padding-top: 10px;
    height: 40px;
}

#main-left .cont1 .reply .comment .num1 h2{
    font-size: 20px;
}

#main-left .cont1 .reply .comment .num1 h3{
    font-size: 15px;
    color: #818181;
    font-weight: 100;
    margin-left: 5px;
    margin-top: -4px;
    font-family: oswald;
}

#main-left .cont1 .reply .comment h3{
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    padding-top: 10px;
}

#main-right .cont2{
    color: #fff;
    padding: auto 6px 6px 6px;
    padding-bottom: 40px;
}

#main-right .cont2 img{
    height: 32vh;
    width: 100%;
    filter: grayscale(90%);
}

#main-right .cont2 .content{
    margin-top: -5px;
    height: 19vh;
    width: 462.8px;
    background-color: #000;
}

#main-right .cont2 .content h2{
    font-weight: 100;
    margin-left: 0.8vw;
    font-size: 20px;
    letter-spacing: 0.5px;
    padding-top: 1.4vh;
    padding-bottom: 2vh;
}

#main-right .cont2 .content p{
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    margin-left: 0.8vw;
    margin-right: 0.8vw;
    line-height: 22px;
    letter-spacing: 0.5px;
}

#main-right .cont3{
    /* position: relative; */
    height: 56.5vh;
    background-color: #fff;
    margin-bottom: 40px;
}

#main-right .cont3 .header{
    /* display: flex; */
    align-items: center;
    height: 8.4vh;
    z-index: 9;
    background-color: #000;
}

#main-right .cont3 .header h1{
    padding-top: 2vh;
    font-weight: 100;
    color: #fff;
    font-size: 20px;
    margin-left: 0.8vw;
    padding-bottom: 2vh;
}

#main-right .cont3 .header .posts{
    display: flex;
    align-items: center;
    height: 12vh;
    width: 100%;
    border-top: 1px solid #818181;
    z-index: -1;
}

#main-right .cont3 .header .posts:hover{
    background-color: #cccccc;
}

#main-right .cont3 .header .posts img{
    height: 56px;
    margin-left: 0.8vw;
}

#main-right .cont3 .header .posts .text{
    padding-left: 1vw;
}

#main-right .cont3 .header .posts .text h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 100;
    padding-bottom: 7px;
}

#main-right .cont3 .header .posts .text h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 100;
}

#main-right .cont4{
    height: 44vh;
    background-color: #fff;
    position: relative;
    margin-bottom: 40px;
}

#main-right .cont4 h1{
    background-color: #000;
    height: 7vh;
    padding-left: 0.8vw;
    font-size: 20px;
    font-weight: 100;
    padding-top: 2vh;
    color: #fff;
}

#main-right .cont4 .box{
    position: absolute;
    top: 11.3vh;
    left: 2.2vh;
    height: 30vh;
    width: 93%;
    background-color: #f1f1f1;
}

#main-right .cont4 h2{
    color: #000;
    display: flex;
    justify-content: center;
    padding-top: 14vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 100;
    z-index: 99;
}

#main-right .cont5{
    height: 30vh;
    background-color: #fff;
    position: relative;
    margin-bottom: 40px;
}

#main-right .cont5 h1{
    background-color: #000;
    height: 7vh;
    padding-left: 0.8vw;
    font-size: 20px;
    font-weight: 100;
    padding-top: 2vh;
    color: #fff;
}

#main-right .cont5 .tags{
    width: 1vw;
}

#main-right .cont5 h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 100;
}

#main-right .cont5 .taglist1{
    
    display: flex;
    padding: 3px 4px;
    margin: 5px;
}

#main-right .cont5 .taglist2{
    display: flex;
    padding: 4px;
    margin: 5px;
}

#main-right .cont5 .taglist3{
    display: flex;
    padding: 4px;
    margin: 5px;
}

#main-right .cont5 .taglist1 .list11 h3{
    font-family: 'Open Sans', sans-serif;
    background-color: #000;
    color: #fff;
    font-size: 15px;
    font-weight: 100;
    margin: 5px 2px 5px 2px;
    padding: 4px 10px;
}

#main-right .cont5 .taglist1 h4{
    font-family: 'Open Sans', sans-serif;
    background-color: #f1f1f1;
    font-size: 12px;
    font-weight: 100;
    margin: 5px 2px 5px 2px;
    padding: 4px 10px;
}

#main-right .cont5 .taglist2 h4{
    font-family: 'Open Sans', sans-serif;
    background-color: #f1f1f1;
    font-size: 12px;
    font-weight: 100;
    margin: 5px 2px 5px 2px;
    padding: 4px 8px;
}

#main-right .cont5 .taglist3 h4{
    font-family: 'Open Sans', sans-serif;
    background-color: #f1f1f1;
    font-size: 12px;
    font-weight: 100;
    margin: 5px 2px 5px 2px;
    padding: 4px 8px;
}

#main-right .cont6{
    height: 56vh;
    background-color: #fff;
    margin-bottom: 40px;
}

#main-right .cont6 h1{
    background-color: #000;
    height: 7vh;
    padding-left: 0.8vw;
    font-size: 20px;
    font-weight: 100;
    padding-top: 2vh;
    color: #fff;
}

#main-right .cont6 .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

#main-right .cont6 .column {
    flex: 50%;
    padding: 0 4px;
}
  
#main-right .cont6 .column img {
    margin-top: 15px;
    margin-left: 8px;
    vertical-align: middle;
    height: 140px;
}

#main-right .cont7{
    height: 16vh;
    background-color: #fff;
    margin-bottom: 40px;
}

#main-right .cont7 h1{
    background-color: #000;
    height: 7vh;
    padding-left: 0.8vw;
    font-size: 20px;
    font-weight: 100;
    padding-top: 2vh;
    color: #fff;
}

#main-right .cont7 .icons{
    padding-left: 1vw;
    padding-top: 1vh;
    font-size: 24px;
}

#main-right .cont7 .icons i:hover{
    color: #666666;
}

#main-right .cont8 h1{
    background-color: #000;
    height: 7vh;
    padding-left: 0.8vw;
    font-size: 20px;
    font-weight: 100;
    padding-top: 2vh;
    color: #fff;
}

#main-right .cont8 .text{
    height: 26.2vh;
    background-color: #fff;
}

#main-right .cont8 .text h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 100;
    padding-top: 3vh;
    padding-left: 1vw;
}

#main-right .cont8 .text input{
    font-family: 'Open Sans', sans-serif; 
    width: 88%;
    font-size: 16px;
    padding: 0.7vw;
    margin-left: 1vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

#main-right .cont8 .btn{
    font-family: 'Open Sans', sans-serif; 
    text-align: center;
    color: #fff;
    background-color: #f44336;
    padding: 0.6vw;
    margin-left: 1vw;
    width: 89.4%;
}

#main-right .cont8 .btn:hover{
    color: #000;
    background-color: #cccccc;
}

#footer{
    position: relative;
    bottom: 0;
    height: 26vh;
    width: 100%;
    background-color: #666666;
}

#footer h3{
    position: absolute;
    font-family: 'Open Sans', sans-serif; 
    color: #fff;
    font-size: 15px;
    font-weight: 100;
    margin-top: 110px;
    margin-left: 30px;
    /* letter-spacing: 1px; */
}

#footer h3 a{
    /* text-decoration: none; */
    font-family: 'Open Sans', sans-serif; 
    color: #fff;
    letter-spacing: 1px;
}

#footer button{
    position: absolute;
    margin-top: 30px;
    margin-left: 30px;
    font-size: 17px;
    padding: 13px 25px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    border: 0;
    background-color: #000;   
    border-color: #000;
}

#footer button:hover{
    background-color: #cccccc;
    border: 0;
    color: #000;
}

#footer button i{
    padding-right: 5px;
}